
<%- include('./partials/header')%>
<main>
    <section>
        <% if (locals.pokemon) { %>
        <div>
            <h2><%=pokemon.name%></h2>
            <img class="picture" src="/img/<%pokemon.numero%>.png" alt="pokemon">
            <p><%=pokemon.pv%></p> 
            <p><%=pokemon.attaque%></p>  
            <p><%=pokemon.defense%></p>  
            <p><%=pokemon.attaque_spe%></p>  
            <p><%=pokemon.defense_spe%></p>
            <p><%=pokemon.vitesse%></p>
        </div>
        <% } %>
    </section>
</main>
<%- include('./partials/footer')%>